
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.background {
    background: grey;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 100px);
    grid-gap: 10px;
}

    .header {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .heading_two {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .heading_three {
        grid-column-start: 4;
        grid-row-start: 2;
    }

    .wordDisplay {
        grid-column-start: 3;
        grid-row-start: 2;
    }

.display {
    background-color: white;
}

.imageOne {
    grid-column-start: 3;
    grid-row-start: 3;
}

.imageTwo {
    grid-column-start: 3;
    grid-row-start: 2;
    width: 100px;
    height: 100px;
}

.button {
    grid-column-start: 3;
    grid-row-start: 4;
}

#reset {
    grid-column-start: 3;
    grid-row-start: 5;
}
