
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.background {
    background: grey;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px;
}

    .headingOne {
        grid-column-start: 3;
    }

    .headingTwo {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .headingThree {
        grid-column-start: 4;
        grid-row-start: 2;
    }

    .wordDisplay {
        grid-column-start: 3;
        grid-row-start: 2;
    }

.display {
    background-color: white;
}

.imageOne {
    grid-column-start: 3;
    grid-row-start: 3;
}

.imageTwo {
    width: 100px;
    height: 100px;
}

.button {
    grid-column-start: 3;
    grid-row-start: 4;
}
